body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}


.producto {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.portada img {
    width: 100%;
    height: auto;
}

.descripcion {
    margin-bottom: 50px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}


@media only screen and (min-width: 600px) {
    .producto {
        width: 250px;
    }
}

.carrusel-imagen {
    display: none;
}

.carrusel-imagen:first-child {
    display: block;
}

.tarjeta {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.tarjeta h2 {
    color: #333;
    margin-bottom: 10px;
}

.tarjeta p {
    margin-bottom: 10px;
    line-height: 1.6;
}